/***** GLOBAL VARIABLES *****/
$default-font: 'Ubuntu', monospace, sans-serif;

body{
	font-family: $default-font;
	background-size: cover;
	background-repeat: no-repeat;
}

// HERO IMAGES - WEATHER
.rainy{
	background-image: url('../images/weather/rainy.png');
}

.header{
	height: 50px;
	.nav {
		display: flex;
	}
}
